@model thuctap_CTN_NEW.Models.Hocvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hocvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvNgaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvNgaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvGioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvGioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvDiachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvDiachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvSdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvSdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvNgayvao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvNgayvao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvHinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvHinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HvTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HvTen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HvId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
