@model thuctap_CTN_NEW.Models.Lop

@* @{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LMota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LMota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LKhoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LNgaybatdau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LNgaybatdau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LNgayketthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LNgayketthuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTrangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTrangthai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> *@


@{
    ViewData["Title"] = "Delete";
}
<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            XÓA LỚP
        </header>
        <div class="panel-body">
            <div class="position-center">
            <form asp-action = "Delete">
                <form asp-controller="Lops" asp-action="Delete" method="post">
                <h3>
                     Bạn Có Muốn Xóa <b>"@Html.DisplayFor(model => model.LTen)"</b> ?
                </h3>
                
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-5">
                        <input type="hidden" asp-for="LId" />
                        <input type="submit" value="Xóa" class="btn btn-primary" />
                        <button type="button" class="btn" style="background-color: tomato;"><a href="/Lops/Index" style="color: white;background-color: tomato;">Quay Trở Lại</a> </button>
                    </div>
                </div>
                </form>
            </form>
            </div>
        </div>
    </section>
</div> 
